@import "./variables.scss";

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;

	@media (max-width: 1319px) {
		padding-top: 40px;
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
		padding-top: 20px;
		align-items: initial;
	}

	&__logo {
		@media (max-width: 767px) {
			display: none;
		}

		&-mobile {
			display: none;

			@media (max-width: 767px) {
				display: flex;
				align-items: center;
			}
		}
	}

	&__logo-link {
		display: inline-block;

		@media (max-width: 1319px) {
			margin-bottom: 15px;
		}

		@media (max-width: 767px) {
			margin-bottom: 0;
		}
	}

	&__logo-img {
		@media (max-width: 767px) {
			width: 77px;
			height: 31px;
		}
	}

	&__info {
		@media (max-width: 767px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__contacts {
		display: flex;
		gap: 20px;
		margin-bottom: 10px;
		list-style: disc;
		color: $color-white;
		text-align: center;

		@media (max-width: 1319px) {
			justify-content: center;
			margin-bottom: 15px;
		}

		@media (max-width: 767px) {
			justify-content: space-between;
			margin-bottom: 10px;
			flex: 100%;
		}
	}

	&__lang {
		display: flex;
		gap: 10px;
	}

	&__link-lang {
		font-weight: 700;
		font-size: 12px;
		line-height: 1.6;
		padding: 6px 10px;
		color: $color-white;
		border-radius: 8px;

		&:hover {
			color: $color-text_gray;
		}

		@media (max-width: 767px) {
			color: $color-text_gray;
			&:hover {
				color: $color-text_gray;
			}
			&:first-child {
				color: $color-text_gray;
			}
		}

		&.active-lang {
			a:hover {
				background-color: $color-accent;
				border-radius: 8px;
				border-bottom: none;
			}
		}

		&.active-lang {
			background-color: $color-accent;
		}
	}

	&__link-lang:hover {
		background-color: $color-bg_grey-alt;
	}

	&__item {
		margin-left: 15px;

		@media (max-width: 767px) {
			display: none;
		}

		@media (max-width: 767px) {
			::before {
				display: none;
			}
		}

		&.item-tell {
			@media (max-width: 767px) {
				display: block;
				margin: 0;
			}
		}

		&.facebook {
			.header__face-link {
				svg {
					path {
						fill: $color-white;
					}
				}

				&:hover {
					svg {
						path {
							fill: $color-active-hover;
						}
					}
				}
			}
		}
	}

	&__item a {
		line-height: 30px;
		vertical-align: top;
	}

	&__link-address {
		font-weight: 400;
		font-size: 16px;
		color: $color-white;
	}

	&__link-tell {
		font-weight: 700;
		font-size: 16px;
		color: $color-white;

		@media (max-width: 767px) {
			color: $color-text_gray;
			margin: 0;
		}
	}

	.header__link-tell.phone {
		color: $color-text_gray;
	}

	&__nav-list-menu {
		display: flex;
		gap: 15px;
		justify-content: end;

		@media (max-width: 1319px) {
			justify-content: center;
		}
	}

	&__nav-link-menu {
		font-size: 18px;
		color: $color-white;

		&.activ-service{
			border-bottom: 2px solid $color-white;
		}
	}

	&__nav-link-menu:hover {
		border-bottom: 2px solid $color-white;
		color: $color-white;

		@media (max-width: 767px) {
			border-bottom: none;
		}
	}

	&__nav {
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;

		@media (max-width: 1319px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			flex: 10%;
		}
	}

	&__list {
		@media (max-width: 767px) {
			display: none;
		}
		@media (min-width: 768px) {
			background-color: transparent;
		}
	}

	&__inside-item {
		gap: 15px;

		@media (max-width: 767px) {
			text-align: center;
			padding: 7px 17px 9px 17px;
			border-radius: 12px;
			margin-bottom: 11px;
			background-color: $color-bg_grey-alt;
			border: none;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__inside-link{
		@media (max-width: 767px) {
			text-decoration: none;
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			color: $color-active;
			&:hover {
				color: $color-accent;
			}
		}
	}

	&__promo {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__log {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo-title {
		font-weight: 500;
		font-size: 38px;
		line-height: 45px;
		color: $color-white;
		width: 800px;
		margin-top: 238px;
		text-align: center;

		@media (max-width: 1319px) {
			width: 100%;
		}

		@media (max-width: 767px) {
			margin-top: 138px;
		}
	}

	&__logo-button {
		background-image: url("../img/button.svg");
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid $color-white;
		border-radius: 50%;
		width: 42px;
		height: 42px;
		text-decoration: none;
		background-color: transparent;
		cursor: pointer;
		margin: 289px 0 20px 0;

		@media (max-width: 767px) {
			margin: 226px 0 20px 0;
		}

		@media (max-width: 488px) {
			margin: 201px 0 20px 0;
		}
	}

	.menu-icon {
		display: none;
		cursor: pointer;

		float: right;
		padding: 20px 14px;
		position: relative;
		user-select: none;

		@media (max-width: 767px) {
			display: inline-block;
		}
	}

	.menu-icon .nav-icon {
		background-color: $color-white;
		display: block;
		height: 2px;
		position: relative;
		transition: background .2s ease-out;
		width: 18px;
	}

	.menu-icon .nav-icon:before,
	.menu-icon .nav-icon:after {
		background-color: $color-white;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .2s ease-out;
		width: 100%;
	}

	.menu-icon.dark .nav-icon {
		background-color: $color-black;
	}

	.menu-icon.dark .nav-icon:before,
	.menu-icon.dark .nav-icon:after {
		background-color: $color-black;
	}

	.menu-icon .nav-icon:before {
		top: 5px;
	}

	.menu-icon .nav-icon:after {
		top: -5px;
	}

	.menu-btn {
		display: none;
	}

	.menu-btn:checked ~ .header__list {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		min-width: 375px;
		margin-top: 10px;
		background-color: $color-white;
		border-radius: 12px;
		padding: 15px;
		filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
		z-index: 100;

		@media (min-width: 768px) {
			position: static;
			display: flex;
			top: auto;
			right: auto;
			width: auto;
			margin-top: auto;
			background-color: transparent;
			border-radius: initial;
			padding: initial;
			filter: none;
		}
	}

	.menu-btn:checked ~ .menu-icon {
		background-color: $color-bg_grey;
		border-radius: 6px;
	}

	.menu-btn:checked ~ .menu-icon .nav-icon {
		width: 28px;
		background-color: $color-bg_grey;
	}

	.menu-btn:checked ~ .menu-icon .nav-icon:before {
		transform: rotate(-45deg);
		background-color: $color-orange;
	}

	.menu-btn:checked ~ .menu-icon .nav-icon:after {
		transform: rotate(45deg);
		background-color: $color-orange;
	}

	.menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:before,
	.menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:after {
		top: 0;
	}
}