$color-main: #323264;
$color-alt: #46466E;
$color-soft: #686887;
$color-accent: #F0145A;
$color-active: #24A3FF;
$color-active-hover: #0085FF;
$color-active_blue: #006CCF;
$color-bg_grey: #F5F5FA;
$color-bg_grey-alt: #EDEDF7;
$color-text_gray: #B3B3BA;
$color-grey: #E6E6F0;
$color-red:#FF0000FF;
$color-black: #000;
$color-white: #fff;
$color-gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$color-gradient_soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$color-gradient_red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
$color-gradient_super: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$color-gradient_red-text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$color-hover: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$color-image: linear-gradient(265.13deg, #EF8080 0.84%, #F0145A 99.96%);
$color-img: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
$color-gradient-header: linear-gradient(200.57deg, #323264 12.93%, #323264 57.17%, #643E72 87.46%);
$color-orange: #EC6F5D;